nav{

    background-color: blue;
    height: 45px;
    width: 2000px;
    color: #fff;
}

body{
    background-color: rgb(253, 6, 142);
}

h2{
    color: #fff;
}

h1{
    color:rgb(55, 0, 255);
}

footer{
 background-color: blue;
        height: 45px;
        width: 2000px;
        color: #fff;
}